:root {
    --profile-picture-x: 71px;
    --player-details-x: 218px;
}

/* Profile Picture */
.profile-picture {
    --dimension: 131px;

    position: absolute;
    top: 13px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    border-radius: 23px;
    z-index: 1;
    background-image: url("https://a.ppy.sh/9536345");
}
.left-profile-picture { left: var(--profile-picture-x); }
.right-profile-picture { right: var(--profile-picture-x); }

/* Player Names */
.active-recipe {
    position: absolute;
    top: 48px;
    font-size: 19px;
    color: var(--vanilla-colour);
}
.left-active-recipe { left: var(--player-details-x); }
.right-active-recipe { right: var(--player-details-x); }

/* Player Names */
.player-name {
    position: absolute;
    top: 76px;
    line-height: 52px;
    font-size: 25px;
    color: var(--chocolate-colour);
}
.left-player-name { left: var(--player-details-x); }
.right-player-name { right: var(--player-details-x); }
