:root {
    --date-time-positioning: 24px;
}

/* Whole page */
.main { background-image: url("static/background.png"); }

/* Date and Time */
.date-time {
    position: absolute;
    top: var(--date-time-positioning);
    font-size: 1.25rem;
    color: var(--foam-colour)
}
.date { left: var(--date-time-positioning); }
.time { right: var(--date-time-positioning); }

/* Logo */
.logo {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

/* Upcoming Matches */
.upcoming-matches {
    position: absolute;
    left: 1271px;
    top: 196px;
    width: 628px;
    height: 701px;
    border-radius: 0 22px 22px 0;
    background-color: rgba(22, 17, 17, 0.6);
}

/* Upcoming Matches Text */
.upcoming-matches-text {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: white;
    letter-spacing: 0.5px;
    text-indent: 0.25px;
}

/* Match Display */
.match-display {
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    width: 534px;
    height: 125px;
}

/* Match Details */
.match-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 65px;
}
.match-number { font-size: 2rem; }
.match-time { font-size: 1.5rem; }

/* Match Player */
.match-player {
    position: absolute;
    --dimension: 125px;
    width: var(--dimension);
    height: var(--dimension);
    border: none;
}
.match-player-1 { left: 216px; }
.match-player-2 { right: 0; }

/* Match VS */
.match-vs {
    position: absolute;
    top: 50%;
    left: 361px;
    transform: translateY(-50%);
    color: var(--vanilla-colour);
    font-size: 1.5rem;
}