:root {
    --foam-colour: #DAC0AB;
    --colour: rgb(22, 17, 17);
    --date-time-positioning: 24px;
}

/* Whole page */
.main { background-image: url("static/background.png"); }

/* Date and Time */
.date-time {
    position: absolute;
    top: var(--date-time-positioning);
    font-size: 1.25rem;
    color: var(--foam-colour)
}
.date { left: var(--date-time-positioning); }
.time { right: var(--date-time-positioning); }

/* Logo */
.logo {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

/* Upcoming Matches */
.upcoming-matches {
    position: absolute;
    left: 1271px;
    top: 196px;
    width: 628px;
    height: 701px;
    border-radius: 0 22px 22px 0;
    background-color: rgba(22, 17, 17, 0.6);
}

/* Upcoming Matches Text */
.upcoming-matches-text {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: white;
    letter-spacing: 0.5px;
    text-indent: 0.25px;
}