:root {
    --date-time-positioning: 24px;
}

/* Whole page */
.main { background-image: url("static/background.png"); }

/* Date and Time */
.date-time {
    position: absolute;
    top: var(--date-time-positioning);
    font-size: 2rem;
    color: var(--foam-colour)
}
.date { left: var(--date-time-positioning); }
.time { right: var(--date-time-positioning); }

/* Logo */
.logo {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

/* Upcoming Matches */
.upcoming-matches {
    position: absolute;
    left: 1271px;
    top: 196px;
    width: 628px;
    height: 701px;
    border-radius: 0 var(--common-border-radius) var(--common-border-radius) 0;
    background-color: var(--expresso-colour-60);
}

/* Upcoming Matches Text */
.upcoming-matches-text {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: white;
    letter-spacing: 0.5px;
    text-indent: 0.25px;
}

/* Match Display Container */
.match-display-container {
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

/* Match Display */
.match-display {
    position: relative;
    width: 534px;
    height: 125px;
}

/* Match Details */
.match-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 65px;
}
.match-number { font-size: 2rem; }
.match-time { font-size: 1.5rem; }

/* Match Player */
.match-player {
    --dimension: 125px;
    
    position: absolute;
    width: var(--dimension);
    height: var(--dimension);
    border: none;
}
.match-player-1 { left: 216px; }
.match-player-2 { right: 0; }

/* Match VS */
.match-vs {
    position: absolute;
    top: 50%;
    left: 361px;
    transform: translateY(-50%);
    color: var(--vanilla-colour);
    font-size: 1.5rem;
}

/* Match Display Separator */
.match-display-separator {
    width: 436px;
    height: 0;
    border: 1.5px solid var(--bean-colour);
}

/* Bottom Section */
.bottom-section {
    --height: 121px;

    position: absolute;
    top: 926px;
    height: var(--height);
    line-height: var(--height);
    color: white;
    box-shadow: 1.5px 4px 2px 1px var(--strawberry-colour);
    border-radius: var(--common-border-radius);
    background-color: var(--expresso-colour-60);
}

/* Timer */
.timer {
    left: 21px;
    text-align: center;
    width: 240px;
    font-size: 4rem;
}

/* Bottom Area */
.bottom-area {
    left: 282px;
    width: 1616px;
}

/* Round Name */
.round-name {
    position: absolute;
    left: 35px;
    font-size: 2rem;
}

/* Social Media Section */
.social-media-section {
    position: absolute;
    right: 35px;
    display: flex;
    font-size: 1.5rem;
    gap: 25px;
}

.social-media-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social-media-logo {
    width: 35px;
    height: 35px;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    color: white;
    font-size: 1.25rem;
    background-color: rgb(149 114 89);
    font-family: Lexend, sans-serif;
}

/* Sidebar Timer */
.sidebar-timer {
    width: 250px;
    height: inherit;
    border-right: 2px solid white;
}
.sidebar-timer > * { margin-left: 20px; }

.sidebar-stream-idle-text {
    position: absolute;
    left: 270px;
    top: 0;
    width: 230px;
    height: inherit;
    border-right: 2px solid white;
}

.sidebar-team-text {
    position: absolute; 
    left: 520px;
    top: 0;
    width: 230px;
    height: inherit;
}

/* Sidebar title */
.sidebar-title {
    padding-top: 10px;
    font-size: 2rem;
}

#team-vs-text {
    margin-right: 20px;
    margin-bottom: 40px;
}

/* Sidebar text */
.sidebar-text { margin-bottom: 10px; }
#sidebar-red-team-text { color: var(--love-fumes-colour); }
#sidebar-blue-team-text { color: lightblue; }

/* Sidebar input */
.sidebar-input {
    width: 100px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.sidebar-input[type="number"]::-webkit-inner-spin-button, 
.sidebar-input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.sidebar-input-long { 
    width: 210px;
    text-align: left;
}

/* Sidebar Button */
.sidebar-button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 2px solid white;
    margin-top: 20px;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}

.sidebar-button:active {
    background-color: white;
    color: var(--main-text);
}
.sidebar-button-large { height: 80px; }

/* Timer Containers */
#normal-timer { height: 470px; }
#utc-timer { height: 250px; }

/* Timer Error Message */
.timer-error-message {
    margin-top: 10px;
    color: var(--love-fumes-colour);
    margin-right: 20px;
    display: none;
}

/* Time Input */
.time-input { width: 60px; }

/* Border Light Pink */
.light-pink-button { 
    border-color: var(--love-fumes-colour);
    color: var(--love-fumes-colour);
}

.light-pink-button:active {
    background-color: var(--love-fumes-colour);
    color: var(--book-background-colour);
}

/* Sidebar custom text */
#sidebar-custom-text { margin-right: 20px; }

/* Sidebar text area */
.sidebar-textarea {
    width: 200px;
    height: 100px;
    background-color: #1d8d68;
    color: white;
    border: 2px solid white;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: inherit;
    resize: none;
}