:root {
    --left-profile-picture-x: 112px;
    --right-profile-picture-x: 1030px;
    --player-name-x: 102.5px;
    --player-score-x: 318px;

    --vanilla-colour: #EBDFD0;
    --chocolate-colour: #312525;
    --book-background-colour: #634832;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-position: center;
    background-image: url("static/background.png");
    font-family: "Lexend";
}

/* Profile Picture */
.profile-picture {
    --dimension: 90px;
    position: absolute;
    top: 62.5px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    border-radius: calc(var(--dimension) / 4);
    z-index: 1;
}
.left-profile-picture {
    left: 112px;
    background-image: url("https://a.ppy.sh/9536345");
}
.right-profile-picture {
    right: 1030px;
    background-image: url("https://a.ppy.sh/9574522");
}

/* Player Names */
.player-name {
    position: absolute;
    top: 76px;
    line-height: 52px;
    color: var(--chocolate-colour);
}
.left-player-name {
    left: calc(var(--left-profile-picture-x) + var(--player-name-x));
}
.right-player-name {
    right: calc(var(--right-profile-picture-x) + var(--player-name-x));
}

/* Player Score */
.player-score {
    --dimension: 63px;
    position: absolute;
    top: 45px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 11px;
    background-color: #6F8EA5;
    color: var(--vanilla-colour);
    text-align: center;
    line-height: var(--dimension);

    
    font-size: 2rem;
}
.left-player-score {
    left: calc(var(--left-profile-picture-x) + var(--player-score-x));
}
.right-player-score {
    right: calc(var(--right-profile-picture-x) + var(--player-score-x));
}

/* Now Playing */
.now-playing {
    position: absolute;
    left: 93.5px;
    top: 128px;
    width: 815.5px;
    height: 397.5px;
    border-radius: 22px;
}
.now-playing-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: inherit;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #957259, var(--book-background-colour), #38220F);
    opacity: 0.75;
    border-radius: inherit;
}
/* Now Playing Stats */
.now-playing-stats {
    position: absolute;
    top: 345px;
    left: 0;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.25rem;
}
.now-playing-stat-container {
    display: flex;
    gap: 10px;
}
.now-playing-stat-text {
    color: #C8786E;
    font-weight: 700;
    width: 48px;
    text-align: center;
}
.now-playing-stat-number {
    color: var(--vanilla-colour);
    width: 69px;
}
/* Recipes */
.recipes {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
}
.recipes img {
    --dimension: 50px;
    width: var(--dimension);
    height: var(--dimension);
}
.left-recipes {
    left: 0;
    transform: translate(-40%, -50%);
}
.right-recipes {
    right: 0;
    transform: translate(40%, -50%);
}

.mappool-container-left {
    position: absolute;
    left: 97px;
    top: 546px;
    display: flex;
    width: 815px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 11px;
}

/* Map Tile */
.map-tile {
    --border-radius: 22px;
    position: relative;
    width: 195px;
    height: 205px;
    /* background-color: green; */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    font-size: 0.75rem;
}

/* Map Background */
.map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 157px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
}

/* Map Mods */
.map-mod-id {
    --height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: var(--height);
    color: white;
    text-align: center;
    line-height: var(--height);
}
.map-mod-nm { background-color: #4E6A7A; }

/* Ingredient */
.ingredient {
    position: absolute;
    left: 145px;
    top: 122px;
    width: 50px;
}

/* Map Metadata */
.map-metadata {
    position: absolute;
    left: 0;
    top: 166px;
    width: 100%;
    color: var(--chocolate-colour);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}