:root {
    --left-profile-picture-x: 112px;
    --right-profile-picture-x: 1030px;
    --player-name-x: 102.5px;
    --player-score-x: 318px;
}

/* Whole page */
.main { background-image: url("static/background.png"); }

/* Profile Picture */
.profile-picture {
    --dimension: 90px;

    position: absolute;
    top: 62.5px;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
    border-radius: calc(var(--dimension) / 4);
    z-index: 1;
}

.left-profile-picture {
    left: 112px;
    background-image: url("https://a.ppy.sh/9536345");
}

.right-profile-picture {
    right: 1030px;
    background-image: url("https://a.ppy.sh/9574522");
}

/* Player Names */
.player-name {
    position: absolute;
    top: 76px;
    line-height: 52px;
    color: var(--chocolate-colour);
}

.left-player-name {
    left: calc(var(--left-profile-picture-x) + var(--player-name-x));
}

.right-player-name {
    right: calc(var(--right-profile-picture-x) + var(--player-name-x));
}

/* Player Score */
.player-score {
    --dimension: 63px;

    position: absolute;
    top: 45px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 11px;
    background-color: #6F8EA5;
    color: var(--vanilla-colour);
    text-align: center;
    line-height: var(--dimension);
    font-size: 2rem;
}

.left-player-score {
    left: calc(var(--left-profile-picture-x) + var(--player-score-x));
}

.right-player-score {
    right: calc(var(--right-profile-picture-x) + var(--player-score-x));
}

/* Now Playing */
.now-playing {
    position: absolute;
    left: 93.5px;
    top: 128px;
    width: 815.5px;
    height: 397.5px;
    border-radius: var(--common-border-radius);
}

.now-playing-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: inherit;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #957259, var(--book-background-colour), #38220F);
    opacity: 0.75;
    border-radius: inherit;
}

/* Pick Ban Border */
.pick-ban-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 0 5px var(--border-colour);
    transition: 500ms ease-in-out;
}
.pick-border { --border-colour: var(--pick-green); }
.ban-border { --border-colour: var(--ban-red); }

/* Now Playing Stats */
.now-playing-stats {
    position: absolute;
    top: 345px;
    left: 0;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.25rem;
}

.now-playing-stat-container {
    display: flex;
    gap: 10px;
}

.now-playing-stat-text {
    color: #C8786E;
    font-weight: 700;
    width: 48px;
    text-align: center;
}

.now-playing-stat-number {
    color: var(--vanilla-colour);
    width: 69px;
}

/* Recipes */
.ingredients {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
}

.ingredients img {
    --dimension: 50px;

    width: var(--dimension);
    height: var(--dimension);
}

.left-ingredients {
    left: 0;
    transform: translate(-40%, -50%);
}

.right-ingredients {
    right: 0;
    transform: translate(40%, -50%);
}

/* Mappool container */
.mappool-container {
    position: absolute;
    display: grid;
    width: 815px;
    place-content: start space-between;
    gap: 11px;
    grid-template-columns: repeat(4, 195px);
    grid-auto-rows: 205px;
}

.mappool-container-left {
    left: 97px;
    top: 546px;
    grid-template-rows: repeat(2, 205px);
}

.mappool-container-right {
    left: 1007px;
    top: 115px;
    grid-template-rows: repeat(4, 205px);
}

/* Map Tile */
.map-tile {
    position: relative;
    width: 195px;
    height: 205px;
    border-radius: var(--common-border-radius) var(--common-border-radius) 0 0;
    overflow: hidden;
    font-size: 0.75rem;
}

/* Map Background */
.map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 157px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    border-radius: inherit;
}

/* Map Mods */
.map-mod-id {
    --height: 29px;

    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: var(--height);
    color: white;
    text-align: center;
    line-height: var(--height);
    transition: 500ms ease-in-out;
}
.map-mod-nm { background-color: #4E6A7A; }
.map-mod-ps { background-color: #957259; }
.map-mod-hr { background-color: #8D3F38; }
.map-mod-dt { background-color: #634E7A; }
.map-mod-fm { background-color: #5F7F63; }
.map-mod-tb { background-color: #454545; }

/* Ingredient */
.ingredient {
    position: absolute;
    left: 145px;
    top: 122px;
    width: 50px;
}

/* Map Metadata */
.map-metadata {
    position: absolute;
    left: 0;
    top: 166px;
    width: 100%;
    color: var(--chocolate-colour);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Chat Display */
.chat-display {
    position: relative;
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    width: 100%;
    height: 205px;
    background-color: var(--chocolate-colour);
    border-radius: var(--common-border-radius);
}

/* Chat Display Container */
.chat-display-container {
    --margin: 12px;
    --dimension: calc(100% - var(--margin) * 2);

    position: absolute;
    top: var(--margin);
    left: var(--margin);
    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
}
.chat-display-container::-webkit-scrollbar { display: none; }

/* Chat Display Message */
.chat-display-message {
    display: flex;
    width: inherit;
    color: var(--vanilla-colour);
}

.chat-display-name {
    margin-right: 10px;
    white-space: nowrap;
}

.chat-display-content { width: 100%; }
.left { color: lightpink; }
.right { color: lightblue;}
.bot { color: lightyellow; }
.unknown { color: lightgreen}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 500px;
    height: 1080px;
    background-color: var(--gondola-colour);
    display: flex;
    font-family: Lexend, sans-serif;
}

/* Sidebar Section */
.sidebar-section {
    width: inherit;
    padding: 20px 0;
    border-bottom: 2px solid white;
}

/* Sidebar Title */
.sidebar-title {
    width: inherit;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}

/* Sidebar Regular Text */
.sidebar-text {
    width: inherit;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Sidebar Button Container */
.sidebar-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Sidebar Button */
.sidebar-button-container button, div.full-length-button {
    width: 100px;
    height: 43px;
    font-family: inherit;
    font-weight: 700;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    line-height: 43px;
}

/* Sidebar Full Length B utton */
.sidebar-button-container button.full-length-button, div.full-length-button {
    width: 210px;
}

.sidebar-button-container button:active, div.full-length-button:active {
    color: var(--gondola-colour);
    background-color: white;
}

/* Columns */
.column {
    width: 250px;
    height: inherit;
}

/* Divider */
.divider {
    position: absolute;
    top: 0;
    width: 2px;
    height: 1080px;
    background-color: white;
}
.divider-1 { left: 249px; }
.divider-2 { left: 499px; }

/* Sidebar Select */
.sidebar-select {
    width: 250px;
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    border: none;
}

.sidebar-select::-webkit-scrollbar { display: none; }
.sidebar-select option {  line-height: 20px; }